{% load static %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand logo" href="{% url 'contact_list' %}">
      <img src="/media/pictures/agenda.png" alt="" width="40" height="auto" class="d-inline-block align-text-top">
      Contatinhos
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 ms-auto mb-lg-0">
        {% if 'dashboard' in request.path %}
          {% if 'contacts' in request.path %}
            <form class="d-flex"  method="get" action="{% url 'search' %}">
              <input 
              class="form-control me-2 mt-1" 
              type="search"
              placeholder="Pesquisar"
              aria-label="Search"
              id="search-input"
              name="q"
              >
              
              <button class="btn btn-outline-secondary mt-1" type="submit">Search</button>
            </form>
          </ul>
          {% endif %}
          </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <div class="nav-link">{{ user.first_name }} {{ user.last_name }}</div>
              </li>
            </ul>
            <div class="vr d-none d-lg-flex mx-lg-3 text-white"></div>
            <a class="btn btn-outline-secondary ms-1 mt-1" href="{% url 'logout' %}">
              Sair
            </a>
          {% endif %}
    </div>
  </div>
</nav>
