{% extends 'base.html' %}

{% block title %} {{ contact.get_full_name }} | {% endblock %}

{% block content %}
  <div class="d-flex flex-column">
    <h1 class="mt-5">{{ contact.get_full_name }}</h1>
    <div>
      <img
        src="{{ contact.get_image }}"
        alt="{{ contact.get_full_name }}"
        class="img-fluid"
        width="200"
        height="200"
        >
    </div>
    <dl>
      <dt>ID</dt>
      <dd>{{ contact.new_id }}</dd>
      
      <dt>Telefone</dt>
      <dd>{{ contact.phone }}</dd>
      
      <dt>E-mail</dt>
      <dd>{{ contact.get_email }}</dd>
      
      <dt>Data criação</dt>
      <dd>{{ contact.created_at|date:'d/m/Y' }}</dd>
      
      <dt>Categoria</dt>
      <dd>{{ contact.category }}</dd>
      
      <dt>Descrição</dt>
      <dd>
        {{ contact.description }}
      </dd>
    </dl>
  </div>
    {% endblock %}
