{% extends 'base.html' %}

{% block title %} Novo Contato | {% endblock %}

  {% block content %}
  <div class="content-form overflow-auto rounded-2">
    <div class="content-header">
      <div class="test">
        <p class="header-title">
          {% if 'new' in request.path %}
          Novo Contato
          {% else %}
          Editar Contato
          {% endif %}
        </p>
      <a class="btn btn-danger btn-sm" href="{% url 'contact_list' %}">
        <i class="fas fa-arrow-left"></i>
        Cancelar
      </a>
      </div>
      <div class="container-form">
        <div>
            <form action="{{ request.path }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input
                type="text"
                value={% if 'new' in request.path %}''{% else %}{{ form.name.value }}{% endif %}
                class="form-control"
                id="name"
                name="name"
                placeholder="João"
                required
                >
              <label for="name" class="floatingInput">Nome</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                value={% if 'new' in request.path %}''{% else %}{{ form.last_name.value }}{% endif %}
                class="form-control"
                id="last_name"
                name="last_name"
                placeholder="da Silva"
                >
              <label for="last_name" class="floatingInput">Sobrenome</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="file"
                value={% if 'new' in request.path %}''{% else %}{{ form.image.value }}{% endif %}
                class="form-control"
                id="image"
                name="image"
                placeholder="image"
                >
              <label for="image" class="floatingInput">Imagem</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                value="{% if 'new' in request.path %}{% else %}{{ form.phone.value }}{% endif %}""
                class="form-control"
                id="phone"
                name="phone"
                placeholder="(00) 00000-0000"
                required
                >
              <label for="phone" class="floatingInput">Telefone</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                value={% if 'new' in request.path %}''{% else %}{{ form.email.value }}{% endif %}
                class="form-control"
                id="email"
                name="email"
                placeholder="example@example.com"
                >
              <label for="email" class="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3">
              <textarea
                type="text"
                class="form-control text-area-form"
                id="description"
                name="description"
                placeholder="Descrição"
                cols="40"
                rows="10"
                maxlength="200"
                >{% if 'new' in request.path %}{% else %}{{ form.description.value }}{% endif %}</textarea>
              <label for="description" class="floatingTextarea">Descrição</label>
            </div>
            <div class="form-floating mb-3">
              <select
                class="form-control"
                id="category"
                name="category"
                required
                >
                {% for category in form.category %}
                  {{ category}}
                {% endfor %}
                </select>
                <label for="category" class="floatingSelect">Categoria</label>
              </div>
            </div>
            <div class="d-grid gap-2 mb-2">
              <button type="submit" class="btn btn-lg btn-create-contact">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
