{% extends 'base.html' %}
{% load static %}

{% block title %} {{ contact.get_full_name }} | {% endblock %}
{% block content %}
  <div class="contact-details-container rounded-2">
    <div class="contact-details-header">
      <a href="{% url 'contact_list' %}" class="contact-details-link">
        <svg width="13" height="23" viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.55 2.79699L10.1619 0.151794L0 11.4079L10.1619 22.6641L12.55 20.0189L4.79305 11.4079L12.55 2.79699Z" fill="black"/>
        </svg>
      </a>
      <p class="contact-details-title">Contatinho</p>
      <div class="contact-details-buttons">
        <a href="{% url 'delete_contact' contact.new_id %}">
          <div class="contact-details-button details-delete">
        </div>
        </a>
      </div>
    </div>
    <div class="contact-details-about">
      <img
      src="{{ contact.get_image }}"
      alt="{{ contact.get_full_name }}"
      class="img-fluid"
      width="200"
      height="200"
      >
      <h5 class="contact-details-full-name">{{ contact.get_full_name }}</h5>
    </div>
      <div class="details-header-footer">
        <a href="{% url 'edit_contact' contact.new_id %}">
          <div class="contact-details-button details-edit">
          </div>
        </a>
      </div>
    <div class="line-hr"></div>
    <div class="contact-details-info-container">
      <div class="contact-details-info">
        <div class="contact-details-info-item">
          <p class="contact-details-info-label">Mobile</p>
          <p class="contact-details-info-value">{{ contact.phone }}</p>
        </div>
        <div class="contact-details-info-icons">
          <a href="sms:{{ contact.phone }};?&body=message" target=”_blank” rel=”noopener”>
            <img class="contact-details-info-svg" src="/media/icons/message.svg">
        </a>
        <a href="tel:{{ contact.phone }}">
          <img class="contact-details-info-svg" src="/media/icons/call.svg">
          </a>
        </div>
      </div>
      <div class="contact-details-info">
        <div class="contact-details-info-item">
          <p class="contact-details-info-label">Email</p>
          <p class="contact-details-info-value">{{ contact.email }}</p>
        </div>
        <div class="contact-details-info-icons">
          <a href="mailto:{{ contact.email }}">
            <img class="contact-details-info-svg" src="/media/icons/email.svg">
          </a>
        </div>
      </div>
      <div class="contact-details-info">
        <div class="contact-details-info-item">
          <p class="contact-details-info-label">Cateroria</p>
          <p class="contact-details-info-value">{{ contact.category }}</p>
        </div>
      </div>
      <div class="contact-details-info">
        <div class="contact-details-info-item">
          <p class="contact-details-info-label">Criado Em</p>
          <p class="contact-details-info-value">{{ contact.get_date }}</p>
        </div>
      </div>
      <div class="contact-details-info">
        <div class="contact-details-info-item">
          <p class="contact-details-info-label">Descrição</p>
          <p class="contact-details-info-value">{{ contact.description }}</p>
        </div>
      </div>
      <div class="info-subtitle">
        <div class="contact-details-info-item">
          <p class="contact-details-info-label">Vincular Contato</p>
        </div>
      </div>
      <div class="line-hr"></div>
      </div>
      <div class="contact-details-info-container">
        <div class="contact-details-info details-social">
          <div class="contact-details-info-item">
            <p class="contact-details-info-label">Whatsapp</p>
          </div>
          <div class="contact-details-info-icons">
            <a href="https://api.whatsapp.com/send/?phone={{ contact.get_phone }}" target=”_blank” rel=”noopener”>
              <img class="contact-details-info-svg" src="/media/icons/whatsapp.svg">

            </a>
          </div>
        </div>
        <div class="contact-details-info details-social">
          <div class="contact-details-info-item">
            <p class="contact-details-info-label">Telegram</p>
          </div>
          <div class="contact-details-info-icons">
            <a href=" https://t.me/+{{ contact.get_phone }}" target=”_blank” rel=”noopener”>
              <img class="contact-details-info-svg" src="/media/icons/telegram.svg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% endblock %}
