{% extends 'base.html' %}

{% block title %} Entrar | {% endblock %}

{% block accountform %}
{% if not user.is_authenticated %}
<div class="form-sign-container">
  <div class="form-sign-subcontainer-left">
    <img class="form-sign-img" src="/media/icons/login.svg" width="100%">
  </div>
  <div class="form-sign-subcontainer-right form-login">
    <div class="form-sign-title-container">
      <img src="/media/pictures/agenda.png" alt="" width="70" height="auto" class="d-inline-block align-text-top">
      <h1 class="form-sign-title">Contatinhos</h1>
    </div>
    <div class="form-sign-about-container">
      <h3 class="form-sign-about">Guarde seus contatos e não perca mais nada.<br>
          Você pode até compartilhar com seus amigos. 👀</h2>
      </h3>
    </div>
    <div class="form-sign-inputs-container">
        <h4>
          Bem vindo de volta! Por favor, faça seu login.
        </h4>
        <div class="form-sign-inputs">
          <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input
              type="text"
              value="{{ request.POST.username }}" }}"
              class="form-control"
              id="username"
              name="username"
              placeholder="username"
              required
              >
              <label for="username" class="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Senha (+ de 6 caracteres)"
              required
              >
              <label for="password" class="floatingInput">Senha</label>
            </div>
            <button type="submit" class="form-sign-button login">Entrar</button>
            <a href="{% url 'register' %}">
              <button type="button"  class="form-sign-button register ms-3">Cadastrar</button>
            </a>
          </form>
        </div>
    </div>
  </div>
</div>
  {% endif %}
{% endblock %}
